<!--Brandon Ezovski, 2/25/26: handlebars view of the 404 error page, featuring all the same things that were there originally-->

<h1>404 Error: Page Not Found</h1>
    <div class="all-content">
        
            <div class="card">
        
            <h3>The page you are looking for could not be loaded or has been moved :(</h3>
            <h3>Return to homepage: <a href="/homepage">Home</a></h3>
       </div> 
    </div>