<!--Brandon Ezovski, 2/25/26: handlebars view of the new 500 error page, featuring a message and link back to the homepage-->
<h1>500 Error: Internal Server Error</h1>
    <div class="all-content">
        
            <div class="card">
        
            <h3>The page you are looking for could not be loaded due to server-side issues. You may need to try again later :(
            </h3>
            <h3>Return to homepage: <a href="/homepage">Home</a></h3>
       </div> 
    </div>