<!--Brandon Ezovski, 2/25/26: handlebars view of the events page, featuring all the same things that were there originally-->
<h1>URI Gaming Club Events Page</h1>
    <p class="center">Welcome to the URI Gaming Club Events Page!</p>
    
    <div class="left-col">
        <h2>Weekly Events</h2>
        <div class="card">
                <h3>
                    URI Rhody Rumble Weekly 
                </h3>
                
                <p>
                    The University of Rhode Island Gaming Club's premier weekly <em>Super Smash Bros</em> and <em>Rivals of Aether 2</em> tournament!
                </p>
                <ul>
                    <li>
                        Held in the URI Memorial Union, 50 Lower College Rd, Kingston, RI, 02881, USA
                    </li>
                    <li>
                        Room 312A / 360
                    </li>
                    <li>
                        Every Friday Night during the school year (Sept-Dec) / (Feb-May)
                        <ul>
                            <li> 
                                Ultimate Singles Starts at 6 PM
                            </li>
                            <li> 
                                Rivals of Aether 2 Starts at 6:30 PM
                            </li>
                        </ul>
                    </li>
                    <li>
                        64 Entrant Cap
                    </li>
                </ul>


                <h3>
                    Weekly Game Night
                </h3>
                <p>A new event hosted by Gaming Club to appeal to a more casual audience. Designated times for people to come together and
                    try out some new games they haven't played before! Our entire video game and board game selection is availible to be played during these events!
                </p>

                <ul>
                    <li>
                        Held in the URI Memorial Union, 50 Lower College Rd, Kingston, RI, 02881, USA
                    </li>
                    <li>
                        Room 312A
                    </li>
                    <li>
                        Every Thursday Night during the school year (Sept-Dec) / (Feb-May)
                    </li>
                </ul>


            </div>
            
            <h2>Special Events</h2>

            <div class="card">
                <h3>
                    URI Rhody Ruckus Monthly
                </h3>
                <p> The University of Rhode Island Gaming Club's (slighly inconsistent) monthly event, 
                    featuring <em>Super Smash Bros Ultimate</em> singles and doubles, <em>Rivals of Aether 2</em>, as well as other fighting 
                    game side brackets such as <em>Street Fighter 6</em>, <em>Tekken 8</em>, <em>Guilty Gear: Strive</em>, and more! 
                </p>
                <ul>
                    <li>
                        Held in the URI Memorial Union, 50 Lower College Rd, Kingston, RI, 02881, USA
                    </li>
                    <li>
                        Atrium 1/2 or Rainville Ballroom
                    </li>
                    <li>
                        Once a Month Large Scale Events, held on Saturdays
                        <ul>
                            <li> 
                                Smash Ultimate Doubles at 12 PM
                            </li>
                            <li>
                                Rivals of Aether 2 Singles at 2 PM
                            </li>
                            <li>
                                Ultimate Singles at 4pm
                            </li>
                            <li>
                                Rivals of Aether 2 Doubles at 5pm
                            </li>
                            <li>
                                Fighting Game Times to be Announced
                            </li>
                        </ul>
                    </li>
                    <li>
                        96 Entrant Cap
                    </li>
                </ul>



                <h3>
                    Rhody Fest
                </h3>
                <p> 
                    The URI Gaming Club is featured at URI's Rhody Fest, a welcome event designed for Freshman and new URI students to
                    get to know the clubs and activities availible on campus. We bring out a handful of video game consoles and typically
                    run a challenge where if you can beat one of our <em>Super Smash Bros</em> players you win a $5 Dunkin Donuts Gift Card!
                    We bring out some casual games too such as <em>Mario Kart</em> and <em>Mario Party</em>.
                </p>
                <ul>
                    <li>
                        Held outside the URI Memorial Union, 50 Lower College Rd, Kingston, RI, 02881, USA
                    </li>
                    <li>
                        Held at the start of the school year, typically early September
                    </li>
                </ul>


                <h3>
                    Sugar Rush
                </h3>
                <p> 
                    The URI Gaming Club takes part in Sugar Rush, the annual Student Affairs event that takes place around the holidays
                    This event features several clubs and activities, with the Gaming Club bringing out a few different game consoles like 
                    <em>Nintendo Switch</em> and <em>Nintendo Wii</em> for students to play while they enjoy copious amounts of free sugary 
                    snacks and drinks. A movie is normally played during this event, as well as music by the URI Radio.
                </p>
                <ul>
                    <li>
                        Held in the Ram's Den of the URI Memorial Union, 50 Lower College Rd, Kingston, RI, 02881, USA
                    </li>
                    <li>
                        End of the Fall Semester, late December
                    </li>
                </ul>
            </div>