body {
  background-color: black;
}

p {
    color: white;
}

li {
    color: white;
    font-family: Helvetica;
}

h1 {
    color: white;
    font-family: Georgia;
}

h2 {
    color: red;
}

img {
  padding: 5px;
}

.artist{
    border: 1px solid red;
    border-radius:5px;
}

.spotlight{
    padding: 10px;
    border: 3px dotted yellow;
    width: 300px;
    text-align: center;
}